---
layout: page
description: "学习笔记 | 《程序猿修炼笔记》连载 | 嗨，你好，我叫Rick。"
---

<div class="progressing">
    <!--<div class="glyphicon glyphicon-bookmark"></div>-->
    <div class="title">正在进行</div>
</div>
<div id="sticky">

    {% for post in site.posts %}
    {% if post.stickies %}
    <div class="post-preview in-progress" onclick="javascript:window.location.href='{{ post.url | prepend: site.baseurl }}'">
        <h3 class="post-title">
            {{ post.title }}
        </h3>
        {% if post.subtitle %}
        <div class="progress-subtitle">
            {{ post.subtitle }}
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}

    <div class="post-preview in-progress preview-timeline" onclick="javascript:window.location.href='/timeline/'">
        <h3 class="post-title">
            TIMELINE
        </h3>
        <div class="progress-subtitle">
            垂直进展时间轴，这里记载了学习的足迹和个人项目的进展。这一眼看下去，就是各种跑偏...
        </div>
    </div>
</div>

<div class="newest">
    <p>近期更新</p>
</div>
<div id="post-list">
    {% for post in paginator.posts %}
    <div class="post-preview" onclick="javascript:window.location.href='{{ post.url | prepend: site.baseurl }}'">
        <div>
            <div class="preview-avatar">
                <img src="{{site.sidebar-avatar}}" />
            </div>
            {% if post.subtitle %}
            <div class="preview-subtitle">
                    {{ post.subtitle | truncate:54 }}
            </div>
            {% endif %}
        </div>
        <div class="preview-cover">
            <div class="preview-content">
                    <h3 class="post-title">
                        {{ post.title }}
                    </h3>
                    <div class="post-content-preview">
                        {{ post.content | strip_html | truncate:200 }}
                    </div>
            </div>
        </div>
        <p class="post-meta">
            Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%Y.%m.%d, %H:%M:%S" }}
        </p>
    </div>
    {% endfor %}
</div>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
    {% if paginator.next_page %}
    <div class="load-more">
        <button id="load-button" value="{{ paginator.next_page_path }}">点击加载更多</button>
        <div id="loader"></div>
    </div>
    {% endif %}
{% endif %}
