---
layout: timeline
title: "TIMELINE"
description: "垂直进展时间轴，这里记载了学习的足迹和个人项目的进展。这一眼看下去，就是各种跑偏..."
header-img: "img/green.jpg"
---

<div class="timeline">
    {% for post in site.posts %}
    <div class="tl-container right">
        <div class="content">
            <div class="time">{{ post.date | date: "%Y.%m.%d" }}<br><span>{{ post.date | date: "%H:%M:%S" }}</span></div>
            <p>{{ post.title }}</p>
            {% if post.subtitle %}
            <small>
                {{ post.subtitle }}
            </small>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>


<script src="/js/jquery.min.js "></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".timeline").fadeIn();
        $("body").css("background-color", "#419089");
        $(".intro-header .site-heading").css("padding","50px 0 150px 0");
        $(".copyright, .copyright a").css("color","#f3f3f3");
    });
</script>

