// define overriding styles
.light-scheme {
  .tag-cloud {
    text-align: center;
  }

  .tag-cloud a {
    display: inline-block;
    margin: 10px;
  }

  .tag-cloud-0 {
    border-bottom-color: #aaa;
    color: #aaa;
  }

  .tag-cloud-1 {
    border-bottom-color: #9a9a9a;
    color: #9a9a9a;
  }

  .tag-cloud-2 {
    border-bottom-color: #8b8b8b;
    color: #8b8b8b;
  }

  .tag-cloud-3 {
    border-bottom-color: #7c7c7c;
    color: #7c7c7c;
  }

  .tag-cloud-4 {
    border-bottom-color: #6c6c6c;
    color: #6c6c6c;
  }

  .tag-cloud-5 {
    border-bottom-color: #5d5d5d;
    color: #5d5d5d;
  }

  .tag-cloud-6 {
    border-bottom-color: #4e4e4e;
    color: #4e4e4e;
  }

  .tag-cloud-7 {
    border-bottom-color: #3e3e3e;
    color: #3e3e3e;
  }

  .tag-cloud-8 {
    border-bottom-color: #2f2f2f;
    color: #2f2f2f;
  }

  .tag-cloud-9 {
    border-bottom-color: #202020;
    color: #202020;
  }

  .tag-cloud-10 {
    border-bottom-color: #111;
    color: #111;
  }

  /* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
  /* Tomorrow Comment */
  .hljs-comment, .hljs-quote {
    color: #8e908c;
  }

  /* Tomorrow Red */
  .hljs-variable, .hljs-template-variable, .hljs-tag, .hljs-name, .hljs-selector-id, .hljs-selector-class, .hljs-regexp, .hljs-deletion {
    color: #c82829;
  }

  /* Tomorrow Orange */
  .hljs-number, .hljs-built_in, .hljs-builtin-name, .hljs-literal, .hljs-type, .hljs-params, .hljs-meta, .hljs-link {
    color: #f5871f;
  }

  /* Tomorrow Yellow */
  .hljs-attribute {
    color: #eab700;
  }

  /* Tomorrow Green */
  .hljs-string, .hljs-symbol, .hljs-bullet, .hljs-addition {
    color: #718c00;
  }

  /* Tomorrow Blue */
  .hljs-title, .hljs-section {
    color: #4271ae;
  }

  /* Tomorrow Purple */
  .hljs-keyword, .hljs-selector-tag {
    color: #8959a8;
  }

  .hljs {
    display: block;
    overflow-x: auto;
    background: white;
    color: #4d4d4c;
    padding: 0.5em;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}

.dark-scheme {
  font-weight: 300;

  // tag cloud
  .tag-cloud-0 {
    border-bottom-color: #555;
    color: #555;
  }

  .tag-cloud-1 {
    border-bottom-color: #646464;
    color: #646464;
  }

  .tag-cloud-2 {
    border-bottom-color: #737373;
    color: #737373;
  }

  .tag-cloud-3 {
    border-bottom-color: #828282;
    color: #828282;
  }

  .tag-cloud-4 {
    border-bottom-color: #929292;
    color: #929292;
  }

  .tag-cloud-5 {
    border-bottom-color: #a1a1a1;
    color: #a1a1a1;
  }

  .tag-cloud-6 {
    border-bottom-color: #b0b0b0;
    color: #b0b0b0;
  }

  .tag-cloud-7 {
    border-bottom-color: #c0c0c0;
    color: #c0c0c0;
  }

  .tag-cloud-8 {
    border-bottom-color: #cfcfcf;
    color: #cfcfcf;
  }

  .tag-cloud-9 {
    border-bottom-color: #dedede;
    color: #dedede;
  }

  .tag-cloud-10 {
    border-bottom-color: #eee;
    color: #eee;
  }

  img {
    opacity: 0.75;

    &:hover {
      opacity: 0.9;
    }
  }

  ::selection {
    background: teal;
  }

  /* Tomorrow Night Theme */
  /* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
  /* Original theme - https://github.com/chriskempson/tomorrow-theme */
  /* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
  /* Tomorrow Comment */
  .hljs-comment, .hljs-quote {
    color: #969896;
  }

  /* Tomorrow Red */
  .hljs-variable, .hljs-template-variable, .hljs-tag, .hljs-name, .hljs-selector-id, .hljs-selector-class, .hljs-regexp, .hljs-deletion {
    color: #cc6666;
  }

  /* Tomorrow Orange */
  .hljs-number, .hljs-built_in, .hljs-builtin-name, .hljs-literal, .hljs-type, .hljs-params, .hljs-meta, .hljs-link {
    color: #de935f;
  }

  /* Tomorrow Yellow */
  .hljs-attribute {
    color: #f0c674;
  }

  /* Tomorrow Green */
  .hljs-string, .hljs-symbol, .hljs-bullet, .hljs-addition {
    color: #b5bd68;
  }

  /* Tomorrow Blue */
  .hljs-title, .hljs-section {
    color: #81a2be;
  }

  /* Tomorrow Purple */
  .hljs-keyword, .hljs-selector-tag {
    color: #b294bb;
  }

  .hljs {
    display: block;
    overflow-x: auto;
    background: #1d1f21;
    color: #c5c8c6;
    padding: 0.5em;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }
}

.logo-line {
  display: none;
}

.search-active {
  overflow: auto;

  .search-popup {
    opacity: 1;
  }
}

.search-popup {
  transition: all 0.25s ease-out;
  opacity: 0;
}

.sidebar {
  box-shadow: none;
  left: 0;
  font-weight: normal;
}

.sidebar-toggle {
  display: none;
}

.header-inner {
  position: relative;
}

body {
  padding-left: 320px;
}

figure.highlight, pre, code, kbd, samp {
  line-height: 1.6;
  margin: 40px auto 60px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.hljs-keyword, .hljs-attribute, .hljs-selector-tag, .hljs-meta-keyword, .hljs-doctag, .hljs-name, .hljs-title, .hljs-section {
  font-weight: normal;
}

@media (max-width: 767px) {
  body {
    padding-left: 0;
  }

  .sidebar {
    left: -320px;
  }

  .sidebar-toggle {
    display: block;
  }
}

@media (min-width: 1200px) {
  .post-body {
    // set max font-size
    font-size: 1em;
  }
}
