// define overriding styles
.light-scheme {
  .tag-cloud {
    text-align: center;
  }

  .tag-cloud a {
    display: inline-block;
    margin: 10px;
  }

  .tag-cloud-0 {
    border-bottom-color: #aaa;
    color: #aaa;
  }

  .tag-cloud-1 {
    border-bottom-color: #9a9a9a;
    color: #9a9a9a;
  }

  .tag-cloud-2 {
    border-bottom-color: #8b8b8b;
    color: #8b8b8b;
  }

  .tag-cloud-3 {
    border-bottom-color: #7c7c7c;
    color: #7c7c7c;
  }

  .tag-cloud-4 {
    border-bottom-color: #6c6c6c;
    color: #6c6c6c;
  }

  .tag-cloud-5 {
    border-bottom-color: #5d5d5d;
    color: #5d5d5d;
  }

  .tag-cloud-6 {
    border-bottom-color: #4e4e4e;
    color: #4e4e4e;
  }

  .tag-cloud-7 {
    border-bottom-color: #3e3e3e;
    color: #3e3e3e;
  }

  .tag-cloud-8 {
    border-bottom-color: #2f2f2f;
    color: #2f2f2f;
  }

  .tag-cloud-9 {
    border-bottom-color: #202020;
    color: #202020;
  }

  .tag-cloud-10 {
    border-bottom-color: #111;
    color: #111;
  }
}

.dark-scheme {
  // tag cloud
  .tag-cloud-0 {
    border-bottom-color: #555;
    color: #555;
  }

  .tag-cloud-1 {
    border-bottom-color: #646464;
    color: #646464;
  }

  .tag-cloud-2 {
    border-bottom-color: #737373;
    color: #737373;
  }

  .tag-cloud-3 {
    border-bottom-color: #828282;
    color: #828282;
  }

  .tag-cloud-4 {
    border-bottom-color: #929292;
    color: #929292;
  }

  .tag-cloud-5 {
    border-bottom-color: #a1a1a1;
    color: #a1a1a1;
  }

  .tag-cloud-6 {
    border-bottom-color: #b0b0b0;
    color: #b0b0b0;
  }

  .tag-cloud-7 {
    border-bottom-color: #c0c0c0;
    color: #c0c0c0;
  }

  .tag-cloud-8 {
    border-bottom-color: #cfcfcf;
    color: #cfcfcf;
  }

  .tag-cloud-9 {
    border-bottom-color: #dedede;
    color: #dedede;
  }

  .tag-cloud-10 {
    border-bottom-color: #eee;
    color: #eee;
  }

  img {
    opacity: 0.75;

    &:hover {
      opacity: 0.9;
    }
  }

  ::selection {
    background: teal;
  }
}

.logo-line {
  display: none;
}

.search-active {
  overflow: auto;

  .search-popup {
    opacity: 1;
  }
}

.search-popup {
  transition: all 0.25s ease-out;
  opacity: 0;
}

.sidebar {
  box-shadow: none;
  left: 0;
}

.sidebar-toggle {
  display: none;
}

.header-inner {
  position: relative;
}

body {
  padding-left: 320px;
}

@media (max-width: 767px) {
  body {
    padding-left: 0;
  }

  .sidebar {
    left: -320px;
  }

  .sidebar-toggle {
    display: block;
  }
}

@media (min-width: 1200px) {
  .post-body {
    // set max font-size
    font-size: 1em;
  }
}
