
.dark-scheme {
  img {
    opacity: 0.75;

    &:hover {
      opacity: 0.9;
    }
  }

  ::selection {
    background: teal;
  }
}

.logo-line {
  display: none;
}

.search-active {
  overflow: auto;

  .search-popup {
    opacity: 1;
  }
}

.search-popup {
  transition: all 0.25s ease-out;
  opacity: 0;
}

.sidebar {
  box-shadow: none;
  left: 0;
}

.sidebar-toggle {
  display: none;
}

.header-inner {
  position: relative;
}

body {
  padding-left: 320px;
}

@media (max-width: 767px) {
  body {
    padding-left: 0;
  }

  .sidebar {
    left: -320px;
  }

  .sidebar-toggle {
    display: block;
  }
}

@media (min-width: 1200px) {
  .post-body {
    // set max font-size
    font-size: 1em;
  }
}
